<div class="container mt-2">
  <nav class="d-flex w-100 justify-content-center align-content-center col-2 bg-warning">
    <div routerLink="/Exemple1" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple 1</div>
    <div routerLink="/Exemple1bis" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple 1 No Module</div>
    <div routerLink="/Exemple2" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple 2</div>
    <div routerLink="/Exemple2bis" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple 2 No Builder</div>
    <div routerLink="/Exemple3" class="w-100 flex-grow-1 text-center text-decoration-none text-light">Exemple 3</div>
  </nav>



<router-outlet />
</div>
