<div class="container">
  <div [style]="estil" >
    <p>És un exemple de la propietat enllaçada que per canviar d'estil el text.</p>
  </div>

  <div>
    <label for="data">
      Dada:
    </label>
    <input id="data" type="text" [formControl]="data">
    <!-- Exemple if a l'HTML. Nou a la versió 17 -->
    @if(data?.errors?.['minlength']){
      <p class="text-danger">El tamany minim és 4.</p>
    } @else {
      <p></p>
    }
    @if(data?.errors?.['required']){
      <p class="text-danger">És necessari informar el camp.</p>
    } @else {
      <p></p>
    }
    <!-- Una altra manera de fer un if a l'HTML. Versió antiga -->
    <!--
    <div *ngIf="data?.errors?.['minlength']" class="text-danger">
      El tamany minim és 4.

    </div>
    <div *ngIf="data?.errors?.['required']" class="text-danger">
      És necessari informar el camp.
    </div>
    -->
  </div>
  <button class="button" (click)="Reset()">Reset</button>
  <p>{{dada}}</p>
  <!--<app-exemple3fill [(dadafill)]="dada"></app-exemple3fill>-->
  <app-exemple3fill [dadafill]="dada" (dadafillChange)="dataFillCh($event)" ></app-exemple3fill>
</div>
